﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Test_Emp.Encripted" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Bild" runat="server">Здесь творится магия знаков</asp:Label>

        </div>
        <p>
             <asp:Button ID ="Button1"
                runat ="server"
                onClick="BC2"
                text ="Я не знаю ключа!!"
                />
            </p>
        <p>
            <asp:FileUpload ID="FileUpload1" runat ="server"            
                />
            <asp:TextBox ID="Pole" runat="server" OnTextChanged="Pole_TextChanged" Width="246px">Введите требуемое смещение сюда</asp:TextBox>
        </p>
        <p>
            <asp:Button id="UploadButton" 
                  Text="Крутить файл!"
                  OnClick="UploadButton_Click"
                  runat="server">
            </asp:Button>  

            <asp:Button id="Button3" 
                  Text="Сохранить в файл"
                  OnClick="DownloadButton_Click"
                  runat="server">
            </asp:Button> 
            </p>
        <p>
            <asp:TextBox ID="TextBox1" runat="server" OnTextChanged="Pole_TextChanged" Width="246px" Enabled="False" Visible="False">Введите требуемое смещение сюда</asp:TextBox>
        </p>
    </form>
</body>
</html>
