﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestEnc.aspx.cs" Inherits="Test_Emp.TestEnc" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            
        <p>
            <asp:Label ID="Label1" runat="server">Эх... Ну давай сюда...</asp:Label>
            </p>
            
        <p>
            <asp:FileUpload ID="FileUpload1" runat ="server"            
                />
            </p>
        <p>
            <asp:Button id="UploadButton" 
                  Text="Найди мне ключ!"
                  OnClick="UploadButton_Click"
                  runat="server">
            </asp:Button> 
             <asp:Button ID ="Button2"
                    runat ="server"
                    onClick="BC"
                    text ="Верните меня обратно!!"
                 />
            <p>
                &nbsp;</p>
        
            &nbsp;<asp:Label ID="Bild" runat="server"></asp:Label>
        
            &nbsp;</p>
            </div>
    </form>
</body>
</html>
